DB_USER=kore_user
DB_PASSWORD=kore_password
DB_NAME=kore
DB_HOST=localhost
DB_PORT=5432

JWT_SECRET_KEY=fc0a0a86c7bba0c24a2776ecd4728a56b7cd14d580e73f7cf7e8fcf0dc8a1154
JWT_REFRESH_SECRET_KEY=85475a58e6d83e0a03324ddfe9b2a64bac3979ee6bd107ff3db33494c6e36cce
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7